body{
    margin: 0;
    margin-right: 17;
    background-color: rgba(189, 189, 189, 0.284);
}
.header1{
background-color: rgb(255, 255, 255);
height: 48px;
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
position: fixed;
right: 0;
left: 0;
top: 0;
bottom: 0;



}
.drop-img{
    height: 50;
    margin-right: -18;
}
.drop-heading{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30;
    color: black;
    text-decoration: none;
    font-size: 25;
}

.drop-sub{
    font-size: 18;
    font-family: Roboto Condensed;
    font-weight: 400;

   
}

.main1{
  display: flex;
  flex-direction: row;
margin-top: 48px;
  
}


.box1{
    background-color: #2b2929;
    width: 490;
    height: 600;
 display: flex;  
flex-direction: column;    

}

.box-sub{
    margin-left: 50;

}

.global-pic{
    height: 17;
 
}

.title-1{
    color: white;
    font-family: Space Grotesk;
    font-weight: 400;
    width: 400;
    font-size: 50;
    line-height: 1;
    word-spacing: 1;
    
}

.para-1{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    width: 390;
    line-height: 1.5;
    margin-top: -30;
    letter-spacing: 1;
    margin-bottom: 30px;
}

.blue-button{
    background-color: #3984ff;
    border: 0;
   width: 200;
    height: 70;
    font-size: 17;
    font-family: montserrat;
    font-weight: 500;
    margin-bottom: 8px;
   display: flex;
align-items: center;
justify-content: center;

    

}
.blue-button:hover{
    background-color: #4d91ff;
   
    
}

.arrow-1{
    margin-left:20;
    display: inline-block;
  
}

.arrow-1:hover{
    transition: 0.1s ease-in;
   transform: translateX(25%);
      
}
.purchase-link{
    color: rgb(186, 179, 179);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: underline 0 rgb(146, 145, 145) ;
}
.purchase-link:hover{
    text-decoration: underline ;
   
}
.box2{
    background-color: #b4c8e1;
    flex: 1;
    height: 600px;
  
}

.video1{
    margin-top: 50;
    margin-left: 170;
 width: 600;
  height: 500;

}
.title-2{
    text-align: center;
    font-family: montserrat;
    font-size: 35;
    margin-top: 65;
  
   
}

.left-sec{
    display: flex;
   justify-content: space-between;
   align-items: center;
   width: 580px;
  
}

.right-sec{
    display: flex;
    width: 580px;
    align-items: center;
    justify-content: space-between;
    margin-right: 16;
}
.get-button{
    background-color: #0061fe;
    border: 0;
    color: white;
    width: 165;
    height: 40;
    font-size: 18;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 60;
}


