
body{
margin: 0;
padding-top: 80px;
padding-left: 96px;
background-color: rgb(248, 248, 248);
padding-right: 24px;
}


p{
font-family: 'Roboto', sans-serif;
margin-top: 0;
margin-bottom: 0;
}


.thumbnail-1{
width: 100%;
}


.thumbnail-row{
position: relative;
margin-bottom: 15px;
}


.video-title{
font-weight: 500;
margin-top: 0;
font-size: 14px;
width: 240px;
margin-bottom: 10px;
line-height: 20px;
}



.author{
font-size: 12px;
color: gray;
margin-bottom: 4px;
font-weight: 400;
}



.video-stats{
font-size: 12px;
color: gray;
}


.profile-pic{
width: 36px;
border-radius: 50%;
}


.video-info{
margin-left: 6px;
}


.video-grid{
display: grid;
grid-template-columns: 40px 1fr;
}



.arrange {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
column-gap: 16px;
row-gap: 40px;
}


.video-time{
background-color: black;
font-family: Arial, Helvetica, sans-serif;
border-radius: 2px;
color: white;
position: absolute;
bottom: 8px;
right: 5px;
font-size: 12px;
padding: 4px;

}

