.header{
display: flex;
flex-direction: row;
justify-content: space-between;
height: 55px;
align-items: center;
background-color: white;
position: fixed;
right: 0;
left: 0;
top: 0;
bottom: 0;
z-index: 100;
border-bottom: 1px solid #dedede;
}


.left-section{
align-items: center;
display: flex;  
}



.middle-section{
display: flex;
flex: 1;
max-width:470px;
padding-left: 56px;

}



.hamburger-menu{
height: 24px;
margin-left: 24px;
margin-right: 24px;
}


.youtube-logo{
height: 20px;

}


.search-bar{
display: flex;
flex: 1;
height: 40px;
border: 1px solid #cccccc;
padding-left: 16PX;
font-size: 16px;
border-top-left-radius: 2px;
display: block;
}


.mic-icon{
width: 25px;
height: 25px;
}



.search-icon{
width: 25px;
height: 25px;

}


.div-search{
width: 64px;
border: 1px solid #cccccc;
border-left: none;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;

}



.div-mic{
width: 40px;
border-radius: 50px;
border: none;
background-color: #f8f8f8;
margin-left: 6px;
}


.right-section{

width: 182px;
display: flex;
align-items: center;
justify-content: space-between;
margin-right: 24px;
flex-shrink: 0;
margin-left: 29px;

}


.upload-icon{
height: 24px;

}

.youtube-apps{
height: 24px;
}

.notifications{
height: 24px;

}


.channel-pic{
height: 32px;

}



