.sidebar{
background-color: rgb(255, 255, 255);
position: fixed;
left: 0;
top: 56px;
bottom:0;
width: 72px;
z-index: 200;

}




.sidebar-icon {
height: 74px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}


.sidebar-icon img {
height: 24px;
margin-bottom: 4px;
}


.sidebar p{
font-size: 10px;
font-weight: 400;
}

.sidebar-icon:hover{
background-color: rgb(235, 235, 235);
}